
.formControl.error input,
.formControl.error textarea{
    border:1px solid #ff1e00;
}

.formControl.error span{
    color: #ff1e00;
}

.formSummaryError{
    border:1px solid red;
    padding: 5px;
    color: red;
    margin: 5px 0;
}

.flexBlock{
    display: flex;
}