.avaImg{
    width: 50px;
    border-radius: 50%;
}

.userBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.userFlexColumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.userAction{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userLocation{
    display: flex;
    align-items: center;
    flex-direction: column;
}
